<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fmf.mypoem" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|screenLayout|locale|touchscreen|navigation|fontScale|uiMode|smallestScreenSize|mcc|mnc"
            android:label="@string/app_name"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PoemActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|screenLayout"
            android:label="@string/title_activity_my_poem"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fmf.mypoem.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ComposeActivity"
            android:label="@string/title_activity_compose"
            android:parentActivityName=".activity.PoemActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PoemActivity" />
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".activity.PoemActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PoemActivity" />
        </activity>
    </application>

</manifest>
